body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    width: 100%;
}


.container {
    width: 32em;
    height: 34em;
    border-radius: 20px;
    position: relative;
    top: 2em;
    left: 30%;
    outline: 3px solid rgb(148, 196, 196);
    box-shadow: 15px 15px 10px 5px rgba(0,0,0,0.3);
    
    

}


.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.conteudo input {
    padding: 1em;
    text-align: center;
    position: absolute;
    top: 12em;
    right: 12.5em;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(to right, rgb(122, 196, 138), rgb(80, 161, 144), rgb(68, 104, 151));
    outline: none;
    color: white;

}

input::placeholder{
    color: white;
}

.conteudo select {
    position: absolute;
    width: 30em;
    height: 3em;
    bottom: 1em;
    left: 4em;
    top: 6em;
    padding: 2%;
    text-align: center;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: rgb(221, 216, 216);
    font-style: italic;
    color: black;
    
}


  

.container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0.3em;
}

.container button{
    position: absolute;
    top: 18em;
    left: 15.5em;
  border: none;
  padding: 4px;
  cursor: pointer;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgb(122, 196, 138), rgb(80, 161, 144), rgb(68, 104, 151));
}

.container button span {
    display: flex;
    padding: 16px 20px;
    color: white;
    font-size: 13px;
    
}


.moeda-gringa {
    width: 220px;
    height: 150px;
    position: absolute;
    right: 18.5em;
    top: 23em;
    border-radius: 15px;
}

.moeda-gringa span {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 25px;
 position: absolute;
 top: 2.8em;
 left: 1em;   
}

.moeda-gringa p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: sans-serif;
}

.moeda-br{
    width: 220px;
    height: 150px;
    position: absolute;
    left: 15.2em;
    top: 22.9em;
    bottom: 5em;
    border-radius: 15px;
}

.moeda-br span {
    display: flex;
 align-items: center;
 justify-content: center;
 font-size: 25px;
 position: absolute;
 top: 2.8em;
 left: 2.2em;  
}

.moeda-br p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

@media screen and (min-width: 300px) and (max-width: 768px) {

.container{
    left: 0;

    
}


}